<div class="container">
  <h2 class="error-content">It looks like that user doesn't exist!</h2>
  <form action="/" method="get">
    <button class="return-home">Try Another?</button>
  </form>
</div>
