<div class="container">
  <h1 class="error-content">It looks like that user doesn't exist!</h1>
  <form action="/" method="get">
    <input class="return-home" type="submit" value="Try Another?">
  </form>
</div>
