<div class="container">
  <h1 class="results-title">Results</h1>
    <h2 class="content"> It would seem that <%= @username %>'s favourite programming language is <%= @language %>!</h2>
  <form action="/" method="get">
    <button class="return-home">Try Another?</button>
  </form>
</div>
